apex
RAE/models
*.pth
*.pt
*.pyc
diffusion-data-constraint/data
*.so
*.o
*.safetensors
*/tokenizer.json
*.png
*.jpg
RAE/outputs
*.log
*/fused_kernels/*
output/*
diffusion-data-constraint/megatron/fused_kernels/
diffusion-data-constraint/output/*
diffusion-data-constraint/megatron/fused_kernels/build_NVIDIA\ L40S/.ninja_deps
diffusion-data-constraint/megatron/fused_kernels/*
wandb/
tinystories-gpt2/
# deepseek_ocr/
unsloth_compiled_cache/
outputs/